@model List<TableOperations.LogEntity>
@{
    ViewBag.Title = "Errors";
}

<h2>Errors</h2>

<pre>
    <table>
        <tr>
            <td><b>Node</b></td>
            <td><b>Date</b></td>
            <td><b>Message</b></td>
            <td><b>Info</b></td>
            <td><b>Serious</b></td>
        </tr>
        @foreach (var err in Model.OrderByDescending(f => f.DateUtc))
        { 
            <tr style="border-top: solid 1px black">
                <td>@err.Node</td>
                <td>@Math.Round((DateTime.Now.ToUniversalTime() - err.DateUtc).TotalMinutes, 3) min ago</td>
                <td>@Html.Raw(err.Title)</td>
                <td>@Html.Raw(err.Info)</td>
                <td>@err.IsSerious</td>
            </tr>
        }
    </table>
</pre>