@model List<TableOperations.QueryLogEntity>
@{
    ViewBag.Title = "Log";
}

<h2>Log</h2>

<pre>
<table>
    <tr>
        <td><b>Node</b></td>
        <td><b>Date</b></td>
        <td><b>Query</b></td>
        <td><b>Page</b></td>
        <td><b>Took&nbsp;ms (main search)</b></td>
        <td><b>Info</b></td>
        <td><b>Nothing</b></td>
        <td><b>Slow</b></td>
        <td><b>Was loading</b></td>
    </tr>
@foreach (var log in Model.OrderByDescending(f => f.Date))
{ 
    <tr>
        <td>@log.Node</td>
        <td>@Math.Round((DateTime.Now.ToUniversalTime() - log.Date).TotalMinutes, 3) min ago</td>
        <td>@Html.Raw(log.Query)</td>
        <td>@log.Page</td>
        <td>@log.TimeInMs</td>
        <td>@log.Stats</td>
        <td>@log.Nothing</td>
        <td>@log.IsSlow</td>
        <td>@log.WasLoading</td>
    </tr>
}
</table>
</pre>